extends layout

block content
	.section
		.container
			.columns
				.column-is-3
					p huhuu
				.column
					h1.title Welcome to Microworlds Chat
						.box#box
						form#send 
							input.input(type="text" placeholder="Enter message" id="input")
							br
							button.button
								span.icon
									icon.fa.fa-message
				.column.is-3
					p juhuh