doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bulma.css')
		link(rel='stylesheet', href='/css/font-awesome.css') 
		link(rel='stylesheet', href='/css/style.css')
		script(src="js/socketio.js")
		script(src="/js/jquery.js") 
		script(src="/js/angular.js")
		script(src="/js/index.js")
	body
		nav.main-nav
			.left
				a(href="#") Microworlds Chat
			.right
				ul 
					li: a(href="#") Home
					li: a(href="#") About
					li: a(href="#") Contact
		.wrap
			.container
				.columns
					.column.is-3
					.column.stand
						h1.title.has-text-centered Welcome to Microworlds Chat
						.box#box.is-success
						form#send 
							p.control.has-addons
								input.input.is-success.is-expanded(type="text" placeholder="Enter message" id="input")
								button.button.is-success Send
									span.icon
										icon
					.column.is-3