doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bulma.css')
    link(rel='stylesheet', href='/css/font-awesome.css') 
    link(rel='stylesheet', href='/css/style.css')
    script(src="js/socketio.js")
    script(src="/js/jquery.js") 
    script(src="/js/angular.js")
    script(src="/js/index.js")
  body
    block content
