.wrap {
  padding: 30px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
  color: #62debe;
  transition: all .3s linear;
  font-weight: 400;
}

a:hover {
  color: #468565;
  transition: all .3s linear;
}


.wrapper {
	background-size: #ccc;
	width: 400px;
	height: 300px;
	border: 2px solid #aaa;
	max-height: 400px;
	overflow: scroll;
}

#box {
	height: 400px;
	overflow-y: scroll;
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 0.5px solid #23d160;
}

#input {
	display: block;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#send {
	border-top-right-radius: 20;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #000;
	padding: 14px;
}

.left a {
	padding: 17px;

}

.right ul {
	display: flex;
	align-items: center;
}

.right ul li {
	flex: 1;
}

.right ul li a {
	padding: 17px;
}